


<div class="container">
    <div class="wrapper">
       
        
        <div class="row">
            
            <div class="tab-sm-100 col-md-6 order-1 order-md-0" > 

                <!-- side -->
                <div class="left" >
                    <article class="side-text">
                        <h3>Bienvenidos al simulador de pensiones por cesantia y vejez</h3>
                        <ul>
                            <li>1.- Considera que la edad que debes capturar será la que tengas al momento de llegar a la edad del retiro, la edad minima es de 60 años, si tienes mas de 65 debes poner 65 ya que no existe ningun beneficio adicional por tener mas de 65.</li>
                            <li>2.- Recuerda que los hijos solamente se deben capturar si son menores de edad o si tienen menos de 25 años y estan estudiando, de lo contrario no debes considerarlos.</li>
                            <li>3.- Las semanas de cotizacion son las que tendras al momento de pensionarte, no son las semanas que tienes actualmente.</li>
                            <li>4.- El salario diario promedio es el de las ultimas 250 semanas de cotizacion, NO LOS ULTIMOS 5 AÑOS.</li>		
            
                        </ul>
                    </article>
                    
                    <div class="left-img">
                        <img src="assets/images/left-bg.gif" alt="BeRifma">
                    </div>
                </div>
           
            </div>
            <div class="tab-sm-100 offset-md-1 col-md-5 order-0 order-md-1" > 
                <div class="right">
                    <article class="side-text">
                    <p>Llene el formulario para obtener el resultado <span> por pension de Vejez y Cesantía</span></p>
                    </article>
                   
                     <form id="steps" method="post" enctype="multipart/form-data" [formGroup]="cotizacionForm" (ngSubmit)="onSubmit()">

                        <div id="step1" class="form-inner lightSpeedIn">
                            <div class="input-field">
                                <label><i class="fa-regular fa-calendar"></i>No. Semanas Cotizadas <span>*</span></label>
                                <input required type="number" formControlName="semanasCotizadas" name="semanasCotizadas" id="semanasCotizadas" placeholder="semanasCotizadas">
                                <span></span>
                            </div>
                            <div class="input-field">
                                <label for="company"><i class="fa-regular fa-money-bill-1"></i>Salario Diario Promedio (últimas 250 Semanas) <span>*</span></label>
                                <input required type="number" formControlName="salarioDiarioPromedio" name="salarioDiarioPromedio" id="salarioDiarioPromedio" placeholder="salarioDiarioPromedio">
                                <span></span>
                            </div>
                            <div class="input-field">
                                <label for="esposa"><i class="fa-solid fa-user  "></i>Esposa <span>*</span></label>
                                <select formControlName="esposa" name="esposa" id="esposa" formControlName="esposa">
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                  </select>
                                <span></span>
                            </div>
                            <div class="input-field">
                                <label for="hijosMenoresEstudiando"><i class="fa-solid fa-user-graduate"></i>Hijos Menores o Estudiando <span>*</span></label>
                                <input type="number" formControlName="hijosMenoresEstudiando" name="hijosMenoresEstudiando" id="hijosMenoresEstudiando" placeholder="hijosMenoresEstudiando">
                                <span></span>
                            </div>
                            <div class="input-field">
                                <label><i class="fa-regular fa-user"></i>Padres (sólo a falta de viuda y huerfanos) <span>*</span></label>
                               <!--  <input required type="text" formControlName="padres" name="padres" id="padres" placeholder="Cantidad de padres"> -->
                                <select formControlName="padres" name="padres" id="padres" formControlName="padres">
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                  </select>
                                <span></span>
                            </div>
                            <div class="input-field">
                                <label for="edadJubilacion"><i class="fa-solid fa-calendar"></i>Edad Jubilación <span>*</span></label>
                                <select formControlName="edadJubilacion" name="edadJubilacion" id="edadJubilacion">
                                    <option value="" disabled selected>Selecciona tu edad</option>
                                    <option value="60">60</option>
                                    <option value="61">61</option>
                                    <option value="62">62</option>
                                    <option value="63">63</option>
                                    <option value="64">64</option>
                                    <option value="65">65</option>
                                </select>
                                <span></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 submit">
                                <button type="button" (click)="onSubmit()" [disabled]="!cotizacionForm.valid">Calcular Pensión <span><i class="fa-solid fa-thumbs-up"></i></span></button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 submit">
                                <button type="button" (click)="limpiar()">Limpiar <span><i class="fa-solid fa-rotate"></i></span></button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 submit">
                                <button type="button" (click)="generarPDF()" [disabled]="!pdfGenerable">Generar PDF <span><i class="fa-solid fa-"></i></span></button>
                            </div>
                        </div>
                    </form> 
                    <div *ngIf="pensionTotal > 0">
                        <h3>Resultados:</h3>
                        
                        <!-- Pensión Anual x Vejez -->
                        <p>Pensión Anual x Vejez: 
                          <strong style="background-color: #ffc107; color: white">
                            Anual: {{ pensionTotal | currency }} 
                          </strong>
                          <br>
                          <strong style="background-color: #ffc107; color: white">
                            Mensual: {{ pensionTotalMensual | currency }} 
                          </strong>
                        </p>
                      
                        <!-- Pensión Anual x Cesantía en Edad Avanzada -->
                        <p>Pensión Anual x Cesantía en Edad Avanzada: 
                          <strong style="background-color: #198754; color: white">
                            Anual: {{ pensionCesantia | currency }}
                          </strong>
                          <br>
                          <strong style="background-color: #198754; color: white">
                            Mensual: {{ pensionCesantiaMensual | currency }}
                          </strong>
                        </p>
                    </div>
                      
                    
                </div>
            </div>
        </div>
    </div>
</div>


